/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-container > img {
    width: auto;
    height: auto;
  }
  /* globals.css */
footer {
  /* background-color: #f0f0f0; このような設定があれば削除 */
  background-color: transparent; /* 透明にする設定 */
}

